{
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"printWidth": 120,
	"bracketSpacing": false,
	"proseWrap": "never",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": false
}
