$images-path: "/Assets/images/";

$header: "#{$images-path}JobIndex/header_7_4.jpg";
$gs-header: "#{$images-path}GoldSaucer/header.jpg";
// DoWDoM
$jobguide-tank: "#{$images-path}DoWDoM/Tank.jpg";
$jobguide-healer: "#{$images-path}DoWDoM/Healer.jpg";
$jobguide-dps: "#{$images-path}DoWDoM/DPS.jpg";
$DoWDoM-header: "#{$images-path}DoWDoM/header.jpg";
// DoHDoL
$DoHDoL-header: "#{$images-path}DoHDoL/header.jpg";
// Main
$skill-update: "#{$images-path}main/skill_update.png";
$skill-new: "#{$images-path}main/skill_new.png";
$job-text: "#{$images-path}main/job_text.png";
$back-off: "#{$images-path}main/back_off.png";
$back-on: "#{$images-path}main/back_on.png";
$skill-icon: "#{$images-path}main/skil_icon.png";
$skill-icon-top: "#{$images-path}main/skill_icon_on.png";
$skill-icon-top2x: "#{$images-path}main/skill_icon_on2x.png";
// Attributes
$ico-complite: "#{$images-path}main/attributes/complite.png";
$ico-location: "#{$images-path}main/attributes/location.png";
$ico-level: "#{$images-path}main/attributes/level.png";
$ico-npc: "#{$images-path}main/attributes/npc.png";
// Main Combo
$combo-01: "#{$images-path}combo/corner-down-right.png";
$combo-02: "#{$images-path}combo/blue-corner-down-right.png";
$combo-03: "#{$images-path}combo/blue-line-up.png";
$combo-04: "#{$images-path}combo/split-diagonal.png";
$combo-05: "#{$images-path}combo/corner-up-right.png";
$combo-06: "#{$images-path}combo/branch-right.png";
$combo-07: "#{$images-path}combo/branch-low-right.png";
$combo-08: "#{$images-path}combo/arrow-short.png";
$combo-09: "#{$images-path}combo/corner-bottom-right.png";
$combo-10: "#{$images-path}combo/arrow-long.png";
$combo-11: "#{$images-path}combo/blue-line-down.png";
$combo-12: "#{$images-path}combo/branch-right-v2.png";
$combo-13: "#{$images-path}combo/arrow-diag-down.png";
$combo-14: "#{$images-path}combo/branch-start.png";
$combo-15: "#{$images-path}combo/blue-line-down-v2.png";
$combo-16: "#{$images-path}combo/blue-branch-right.png";
$combo-17: "#{$images-path}combo/branch-right-v3.png";
$combo-18: "#{$images-path}combo/corner-end.png";
$combo-19: "#{$images-path}combo/split-cross.png";
$combo-20: "#{$images-path}combo/";
// SVG
$svg-dots-vertical: "#{$images-path}svg/dots-vertical.svg";
