$images-path: "/Assets/img/";

$header: "#{$images-path}JobIndex/header_7_4.jpg";
// DoWDoM
$jobguide-tank: "#{$images-path}DoWDoM/Tank.jpg";
$jobguide-healer: "#{$images-path}DoWDoM/Healer.jpg";
$jobguide-dps: "#{$images-path}DoWDoM/DPS.jpg";
$DoWDoM-header: "#{$images-path}DoWDoM/header.jpg";
// DoHDoL
$DoHDoL-header: "#{$images-path}DoHDoL/header.jpg";
// Main
$skill-update: "#{$images-path}main/skill_update.png";
$skill-new: "#{$images-path}main/skill_new.png";
$job-text: "#{$images-path}main/job_text.png";
$back-off: "#{$images-path}main/back_off.png";
$back-on: "#{$images-path}main/back_on.png";
$skill-icon: "#{$images-path}main/skil_icon.png";
$skill-icon-top: "#{$images-path}main/skill_icon_on.png";
