@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap&subset=japanese);
:root {
  --tank-color: #2d3a80;
  --healer-color: #346624;
  --dps-color: #732828;
  --craft-color: #4e328f;
  --gathering-color: #8f7832;
  --tank-AltColor: #545e99;
  --healer-AltColor: #548046;
  --dps-AltColor: #8c4d4d;
  --craft-AltColor: #695499;
  --gathering-AltColor: #998854;
  --font: sans-serif;
  --color-set-1: #191919;
  --color-set-2: #000;
  --color-set-3: #ecede7;
  --color-error: #a62137;
  --link: #fffed1;
  --text-color: white;
  --block-width: 472px;
  --main-header-img: #191919 url("../img/JobIndex/header_7_1.png");
  /* --main-header-img: url('../img/JobIndex/header_DT.png') no-repeat top center, linear-gradient(90deg, #84b9ba 0%, #dbd6a5 100%); */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--color-set-3);
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

img {
  border: 0;
  vertical-align: bottom;
}

.skill_update {
  border: 1px solid #e7810e;
  box-shadow: 0 0 5px 0 #e7810e;
}
.skill_update td {
  background: #f0e4c5;
}

.skill_new {
  border: 1px solid #e75858;
  box-shadow: 0 0 5px 0 #e75858;
}
.skill_new td {
  background: #f0dddd;
}

.search {
  background: var(--tank-color);
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}
.search a {
  line-height: 32px;
  padding: 0 10px;
}
.search #searchInput {
  border: 0;
  background: var(--tank-AltColor);
  height: 25px;
  color: white;
  border-radius: 10px;
  padding: 0 15px;
}

input::-moz-placeholder {
  color: white;
}

input::placeholder {
  color: white;
}

/* btn back top */
.nome_app_top {
  display: none;
  bottom: 20px;
  right: 20px;
  position: fixed;
  z-index: 99;
}

.app_top {
  display: block;
  width: 30px;
  cursor: pointer;
  background-color: #333333;
  box-shadow: 1px 1px 5px #333333;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.4s;
}

/* Webkit */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
  background-color: #1b1b1b;
  border: 4px solid #1b1b1b;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  background-color: var(--text-color);
  border-radius: 15px;
}

/* Preloader */
.preloader {
  background-color: #1b1b1b;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 1;
  transition: 1.5s all;
  opacity: 1;
  visibility: visible;
}
.preloader:before {
  content: "Загрузка...";
  display: block;
  color: #fff;
  position: absolute;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 3s flash infinite linear;
}

.loader {
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-top-color: var(--color-set-3);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 1.5s spin infinite linear;
}

.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.app_index {
  background-color: var(--color-set-1);
}

.main_content {
  width: auto;
  padding: 0 0 16px;
  margin: 0 auto;
}
.main_app {
  background: var(--color-set-3);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}
.main_header {
  background: var(--main-header-img);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 500px;
}
.main_header_inner {
  width: 960px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
.main_header_alignment {
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
}
.main_header_img {
  position: relative;
  height: 190px;
}
.main_header_img img {
  bottom: 35px;
  position: relative;
  width: 100%;
  filter: drop-shadow(0 0 0 black);
}
.main_header_text {
  background: rgba(25, 25, 25, 0.7019607843);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.main_header_text p {
  font-size: 14px;
  color: #f5f5f5;
  text-shadow: 0px 1px 4px var(--color-set-2);
  margin: 0 !important;
  position: relative;
  display: block;
  text-align: center;
}
.main_header_text a {
  color: var(--link);
}

.link_list {
  position: absolute;
  display: flex;
  bottom: 10px;
  align-items: center;
}

.btn_link {
  display: inline-block;
}
.btn_link img {
  position: relative;
  width: 35px;
  height: 35px;
  left: 10px;
  background: var(--color-set-1);
  box-shadow: 0px 0px 5px var(--color-set-2);
  padding: 5px;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.5s;
}
.btn_link span {
  position: relative;
  background: var(--color-set-1);
  box-shadow: 0px 0px 5px var(--color-set-2);
  color: var(--text-color);
  padding: 5px 10px 5px 25px;
  border-radius: 0 10px 10px 0;
  line-height: 45px;
  right: 10px;
  transition: all 0.5s;
}
.btn_link:hover img, .btn_link:hover span {
  background: #292929;
}

#inner_update p {
  background: var(--color-set-1);
  box-shadow: 0px 0px 5px var(--color-set-2);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: var(--text-color);
}

.news {
  padding: 0 16px 6px 16px;
  background: var(--color-set-1);
}
.news span {
  color: var(--text-color);
  font-size: 20px;
}

#main_news {
  display: flex;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  flex-direction: column;
}
#main_news div {
  display: flex;
  width: 100%;
}
#main_news div span {
  color: var(--text-color);
  font-size: 13px;
  margin-right: 5px;
}
#main_news div a {
  color: var(--link);
  font-size: 12px;
}

.main_header_text a:hover,
#main_news a:hover {
  color: var(--text-color);
}

.warning_info {
  background: #fe3636;
  margin: 10px 0;
  padding: 6px;
  font-size: 13px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
}

.app_page {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.app_page a {
  padding: 10px;
  transition: all 0.4s;
}
.app_page a img {
  width: 100%;
  border-radius: 10px;
}
.app_page a:hover {
  filter: drop-shadow(0px 0px 6px black);
}

.footer_inner {
  background-color: var(--color-set-1);
  width: 100%;
  margin: 0 auto;
  padding: 16px 0 16px 0;
  color: #cccccc;
}
.footer_info {
  margin-bottom: 10px;
  text-align: center;
}
.footer_git {
  background: #333333;
  display: inline-block;
  height: 30px;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  font-size: 15px;
  color: #cccccc;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
  vertical-align: bottom;
  font-weight: bold;
}
.footer_git img {
  width: 25px;
  height: 30px;
  border: 0;
  vertical-align: bottom;
}

.SE {
  font-family: "Noto Sans";
}
.SE p {
  font-size: 13px;
  color: #fff;
  padding-left: 16px;
  line-height: 1.6;
  text-align: center;
}
.SE a {
  color: var(--link);
}
.SE a:hover {
  color: var(--text-color);
}

.jobguide {
  width: 100%;
  display: table;
  background: var(--color-set-3);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}
.jobguide_header_inner {
  width: 960px;
  height: 360px;
  margin: 0 auto;
  position: relative;
}
.jobguide_header_inner h1 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 960px;
  height: 244px;
}
.jobguide_name {
  line-height: 30px;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 18px;
  z-index: 50;
}
.jobguide_catch {
  background: maroon;
  padding: 3px 0;
}
.jobguide_catch p {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.jobguide_catch_index {
  background: #e8ce9e;
  padding: 1px 0;
}
.jobguide_content {
  width: 800px;
  padding: 16px 0 16px;
  margin: 0 auto;
}
.jobguide_text {
  margin-bottom: 32px;
  font-size: 14px;
  color: #585858;
}
.jobguide_flex {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.jobguide_tank {
  width: 390px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../img/DoWDoM/Tank.jpg) bottom right no-repeat #f3f3f3;
  margin-right: 20px;
  box-shadow: 0 0 5px 0 var(--tank-color);
}
.jobguide_tank h2 {
  background: var(--tank-color);
}
.jobguide_healer {
  width: 390px;
  overflow: hidden;
  border-radius: 10px;
  background: url(../img/DoWDoM/Healer.jpg) bottom right no-repeat #f3f3f3;
  box-shadow: 0 0 5px 0 var(--healer-color);
}
.jobguide_healer h2 {
  background: var(--healer-color);
}
.jobguide__dps {
  width: 800px;
  background: url(../img/DoWDoM/DPS.jpg) 72px bottom no-repeat #f3f3f3;
  box-shadow: 0 0 5px 0 var(--dps-color);
  border-radius: 10px;
  float: none;
  overflow: hidden;
  margin-bottom: 32px;
}
.jobguide__dps h2 {
  background: var(--dps-color);
}
.jobguide_dps {
  background-color: #f3f3f3;
  width: 390px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
}
.jobguide_dps h3 {
  margin-left: 16px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: 900;
  color: #585858;
  padding-bottom: 4px;
  line-height: 32px;
  padding-top: 16px;
}
.jobguide_dps h3 img {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 2px;
}
.jobguide_dps:nth-last-child(1) {
  margin-right: 0;
}
.jobguide_tank h2, .jobguide_healer h2, .jobguide__dps h2 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
  padding: 2px;
  font-size: 16px;
  color: #fff;
  font-weight: 900;
  line-height: 32px;
}
.jobguide_tank h2 img, .jobguide_healer h2 img, .jobguide__dps h2 img {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 2px;
}
.jobguide_tank_list, .jobguide_healer_list, .jobguide_dps_list {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  padding-bottom: 12px;
}
.jobguide_tank_list ul li a, .jobguide_healer_list ul li a, .jobguide_dps_list ul li a {
  display: block;
  padding: 4px 16px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 900;
  background: rgba(153, 170, 255, 0);
  position: relative;
  transition: all 0.3s;
}
.jobguide_tank_list ul li a img, .jobguide_healer_list ul li a img, .jobguide_dps_list ul li a img {
  width: 48px;
  height: 48px;
  border: 0;
  vertical-align: bottom;
  margin-right: 8px;
}
.jobguide_tank_list p, .jobguide_healer_list p, .jobguide_dps_list p {
  height: 97px;
  padding: 5px 16px 10px;
  font-size: 14px;
  color: #585858;
}
.jobguide_tank_list ul li a {
  color: var(--tank-color);
}
.jobguide_tank_list ul li a:hover {
  background: rgba(153, 170, 255, 0.2);
}
.jobguide_healer_list ul li a {
  color: var(--healer-color);
}
.jobguide_healer_list ul li a:hover {
  background: rgba(134, 191, 115, 0.2);
}
.jobguide_dps_list ul li a {
  color: var(--dps-color);
}
.jobguide_dps_list ul li a:hover {
  background: rgba(229, 161, 161, 0.2);
}
.jobguide_menu_wrapper {
  background: #eaebe6;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 50;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}
.jobguide_menu_list {
  width: -moz-max-content;
  width: max-content;
  height: 48px;
  margin: 0 auto;
}
.jobguide_menu_list > li {
  float: left;
  width: auto;
  height: 48px;
  position: relative;
  z-index: 5;
}
.jobguide_menu_list > li > span {
  background: #eaebe6;
  display: block;
  width: 160px;
  line-height: 48px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}
.jobguide_menu_list > .jobguide_sub_menu {
  opacity: 0;
  visibility: hidden;
  top: -150px;
}
.jobguide_menu_list:hover > .jobguide_sub_menu {
  opacity: 1;
  visibility: visible;
  top: 40px;
}
.jobguide_sub_menu {
  width: 156px;
  margin: 0 auto;
  position: absolute;
  background: #f4f5f2;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  left: 2px;
  z-index: 1;
  padding: 8px 0 5px;
  transition: all 0.4s;
}
.jobguide_sub_menu li {
  width: 156px;
}
.jobguide_sub_menu li a p {
  display: block;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  transition: all 0.3s;
  position: relative;
}

.job_name_menu:hover,
.jobguide_sub_menu li:hover {
  background: #e5e3d3;
}

.job--DoWDoM {
  background: url(../img/DoWDoM/header.jpg) no-repeat top center #222;
  background-attachment: fixed;
}
.job--DoHDoL {
  background: url(../img/DoHDoL/header.jpg) no-repeat center top #4e3928;
  background-attachment: fixed;
  height: 600px;
}
.job--DoHDoL h1 {
  width: 960px;
  height: 144px;
  position: absolute;
  left: 0;
  top: 390px;
}
.job--DoHDoL .jobguide_header_inner {
  width: 960px;
  height: 100%;
}
.job--DoHDoL ~ .jobguide_catch {
  background: #23401a;
}
.job_header {
  display: block;
  position: relative;
  width: 100%;
  height: 380px;
  padding-top: 48px;
}
.job_header_inner {
  width: 960px;
  margin: 0 auto;
  padding-top: 10px;
}
.job_header_nome {
  margin-bottom: 5px;
  width: var(--block-width);
}
.job_header_role {
  margin-left: 16px;
  display: block;
  line-height: 32px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  padding-right: 10px;
}
.job_header_role img {
  display: inline-block;
  margin-right: 4px;
  width: 32px;
  height: 32px;
}
.job_header_text {
  background: url(../img/main/job_text.png) no-repeat left top;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  width: var(--block-width);
  height: 178px;
  padding: 14px 0 16px 16px;
  box-sizing: border-box;
  position: relative;
}
.job_header_text p {
  font-size: 14px;
  color: #f5f5f5;
  text-shadow: 0 1px 4px #000;
  height: 155px;
  overflow: overlay;
  margin: 0 !important;
  padding-right: 16px;
  position: relative;
  display: block;
}
.job_header_quest {
  margin-top: 10px;
  margin-left: 6px;
}
.job_header_guide_top {
  background: url(../img/main/back_off.png) no-repeat;
  display: flex;
  align-items: center;
  width: 200px;
  height: 28px;
  margin-bottom: 4px;
  padding-left: 22px;
  position: relative;
  transition: all 0.4s;
}
.job_header_guide_top:hover {
  background: url(../img/main/back_on.png) no-repeat;
}
.job_header_guide_top span {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 1px 4px #000;
  position: relative;
}
.job_header_text p::-webkit-scrollbar {
  height: 9px;
  width: 9px;
  background-color: transparent;
  border: 4px solid transparent;
}
.job_header_text p::-webkit-scrollbar-thum {
  border: 4px solid transparent;
  background-clip: padding-box;
  background-color: var(--text-color);
}
.job_nav_title {
  margin-bottom: 8px;
}
.job_nav_title a {
  font-size: 14px;
  position: relative;
}
.job_skill_icon {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(../img/main/skil_icon.png) no-repeat 4px 2px;
  background-size: 40px 40px;
  vertical-align: middle;
}
.job_skill_icon p {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 5;
}
.job_skill_icon img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px !important;
  left: 50% !important;
  margin-left: -20px;
  display: block;
  z-index: 1;
}
.job_skill_icon:after {
  content: "";
  background: url(../img/main/skil_icon_on.png) no-repeat;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.job_skill_list {
  width: 960px;
  height: 1%;
  margin: 0 auto;
  padding: 16px 0 16px;
  position: static;
}
.job_db {
  display: inline-block;
  margin-right: 16px;
}
.job_db span {
  background: #333;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
  border-radius: 12px;
  display: block;
  position: relative;
  padding: 1px 16px 0 36px;
  height: 24px;
  box-sizing: border-box;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.job_db span img {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -16px;
  width: 32px;
  height: 32px;
}
.job_tab li {
  width: 480px;
  height: 48px;
  float: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.job_tab--pve {
  background: #e5e3d3;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75) inset, 1px 0 0 0 rgba(255, 255, 255, 0.25) inset, -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pve.active {
  background: #e5e3d3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pvp {
  background: #d9d9d9;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75) inset, 1px 0 0 0 rgba(255, 255, 255, 0.25) inset, -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
}
.job_tab--pvp.active {
  background: #d9d9d9;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
}
.job_skill_db-pve {
  background: #e5e3d3;
}
.job_skill_db-pvp {
  background: #d9d9d9;
}
.job_skill_db-pve, .job_skill_db-pvp {
  position: static;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 1px 0 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 0 rgba(0, 0, 0, 0.05) inset;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 16px 10px 10px;
}
.job_update {
  margin-bottom: 6px;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  color: #585858;
  font-family: "Noto Sans", sans-serif;
}
.job_notes_lvl {
  background: #fffceb;
  border-radius: 6px;
  margin: 10px 0;
  padding: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #b36b24;
  text-align: center;
}
.job_content_wrapper {
  margin-bottom: 64px;
}
.job_title {
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  border-radius: 6px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  margin-bottom: 16px;
}
.job_sub_title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px 16px;
}
.job_table {
  margin: 0 auto 8px;
}
.job_thead th {
  padding: 0 1px;
}
.job_thead th:nth-child(1) {
  margin-left: 0;
}
.job_thead p {
  display: table;
  width: 100%;
  height: 53.78px;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
}
.job_thead p span {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  line-height: 1.3;
}
.job_thead div p {
  display: table;
  width: 100%;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
}
.job_thead div p span {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  line-height: 1.3;
}
.job_thead hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
.job_tbody td {
  padding: 3px;
  border-bottom: 1px solid #999;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  color: #585858;
  line-height: 1.4;
}
.job_tbody td p {
  display: inline-block;
  vertical-align: middle;
}
.job_tbody td.skill .skill_wrapper, .job_tbody td.jobclass .jobclass_wrapper {
  display: table;
  vertical-align: middle;
  width: 100%;
}
.job_tbody td.skill .skill_wrapper p, .job_tbody td.jobclass .jobclass_wrapper p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2px;
}
.job_tbody td.jobclass .jobclass_wrapper_icon {
  width: 32px;
  display: table-cell;
  vertical-align: middle;
}
.job_tbody td.jobclass .jobclass_wrapper_icon img {
  width: 32px;
  height: 32px;
}
.job_tbody td.skill .skill_wrapper_icon {
  display: table-cell;
  vertical-align: middle;
  width: 48px;
}
.job_tbody td img {
  display: inline-block;
  vertical-align: middle;
}
.job_tbody td.cast, .job_tbody td.classification, .job_tbody td.cost, .job_tbody td.recast {
  text-align: center;
}
.job_tbody td.distant_range img {
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0 2px 0 10px;
}
.job_tbody td.content {
  padding-left: 8px;
  padding-right: 8px;
}
.job_tbody td .class_quest {
  color: #b36b24;
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
}
.job_tbody td .distant_range img {
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0 2px 0 10px;
}
.job_text {
  color: #585858;
  margin: 0 10px 16px;
  font-size: 14px;
}
.job_notes {
  margin: 0 10px;
  font-size: 12px;
  color: #b2122d;
}
.job_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.job_list_wrapper {
  display: flex;
  justify-content: center;
  max-width: 1282px;
  margin: 0 auto;
  padding: 0 6px 32px;
  box-sizing: border-box;
}
.job_list li {
  width: 300px;
  height: 450px;
  margin: 0 8px 32px;
  position: relative;
}
.job_list li a {
  display: block;
  position: relative;
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 8px;
}
.job_list li a p {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  font-size: 18px;
  font-weight: 900;
}
.job_list li a p i {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.job_list li a p i img {
  width: 100%;
  height: 100%;
}
.job_list li a > img {
  width: 300px;
  height: 450px;
}
.job_list.crafter li a p {
  color: var(--craft-color);
}
.job_list.crafter li a:hover {
  background: rgba(78, 50, 143, 0.15);
  box-shadow: 0 0 2px 0 rgba(78, 50, 143, 0.14) inset, 0 0 8px 0 rgba(78, 50, 143, 0.25), 0 0 32px 0 rgba(78, 50, 143, 0.25);
}
.job_list.gatherer li a p {
  color: #8f7832;
}
.job_list.gatherer li a:hover {
  background: rgba(143, 120, 50, 0.15);
  box-shadow: 0 0 2px 0 rgba(143, 120, 50, 0.14) inset, 0 0 8px 0 rgba(143, 120, 50, 0.25), 0 0 32px 0 rgba(143, 120, 50, 0.25);
}

.content {
  max-width: 1248px;
  margin: 0 auto;
  padding: 10px 0 0 15px;
}
.content_text {
  font-size: 16px;
  color: #585858;
  line-height: 1.5;
  margin-bottom: 64px;
}
.content_text--margin {
  margin-bottom: 0;
}
.content_title {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 32px;
  padding: 4px;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}
.content_title.crafter {
  background: linear-gradient(to right, var(--craft-color) 0, rgba(78, 50, 143, 0) 100%);
}
.content_title.gatherer {
  background: linear-gradient(to right, #8f7832 0, rgba(143, 120, 50, 0) 100%);
}
.content_title i {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 8px;
}
.content_title i img {
  width: 100%;
  height: auto;
}

.tab_craft, .tab_gatherer {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin: 20px auto 32px;
}
.tab_craft li, .tab_gatherer li {
  position: relative;
  width: 450px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  background: #f0eddd;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
  transition: background-color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), box-shadow 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.tab_craft .js-tab-trigger.active, .tab_gatherer .js-tab-trigger.active {
  background: #f5a300;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: default;
}
.tab_craft li {
  color: var(--craft-color);
}
.tab_gatherer li {
  color: var(--gathering-color);
}

.guide-title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  border-radius: 6px;
  height: 32px;
  padding: 0 10px;
  margin-bottom: 16px;
}
.guide-table {
  width: 920px;
  margin: 0 auto 8px;
}
.guide-table_wrapper {
  margin-bottom: 64px;
}
.guide-sub_title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px 16px;
}
.guide-thead th {
  padding: 0 1px;
}
.guide-thead th:nth-child(1) {
  padding-left: 0;
}
.guide-thead p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  box-sizing: border-box;
}
.guide-tbody td {
  padding: 6px 4px;
  border-bottom: 1px solid #999;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  color: #585858;
  line-height: 1.4;
}
.guide-tbody td.jobclass .jobclass_wrapper,
.guide-tbody td.jobclass .skill_wrapper, .guide-tbody td.skill .jobclass_wrapper,
.guide-tbody td.skill .skill_wrapper {
  display: table;
  width: 100%;
  vertical-align: middle;
}
.guide-tbody td.jobclass .jobclass_wrapper_icon,
.guide-tbody td.jobclass .skill_wrapper_icon, .guide-tbody td.skill .jobclass_wrapper_icon,
.guide-tbody td.skill .skill_wrapper_icon {
  display: table-cell;
  vertical-align: middle;
  width: 48px;
}
.guide-tbody td.jobclass .jobclass_wrapper p,
.guide-tbody td.jobclass .skill_wrapper p, .guide-tbody td.skill .jobclass_wrapper p,
.guide-tbody td.skill .skill_wrapper p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 2px;
}
.guide-tbody td img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
}
.guide-tbody td.jobclass .jobclass_wrapper_icon, .guide-tbody td.skill .jobclass_wrapper_icon {
  width: 32px;
}
.guide-tbody td .class_quest {
  color: #b36b24;
  font-weight: 700;
  font-size: 10px;
}
.guide-skill_icon {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
  background: url(../img/main/skil_icon.png) no-repeat 4px 2px;
  background-size: 40px 40px;
  vertical-align: middle;
}
.guide-skill_icon img {
  display: block;
  position: absolute;
  top: 2px !important;
  left: 50% !important;
  margin-left: -20px;
  z-index: 1;
}
.guide-skill_icon:after {
  content: "";
  background: url(../img/main/skil_icon_on.png) no-repeat;
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.guide-about {
  padding: 0 10px;
}
.guide-about_title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 32px;
  padding-bottom: 10px;
  line-height: 1;
  position: relative;
}
.guide-about_title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.guide-about_map {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 64px;
}
.guide-about_map img {
  display: block;
  width: 400px;
  height: 400px;
}
.guide-about_map_text {
  width: 480px;
}
.guide-about_map p {
  font-size: 14px;
  color: #585858;
  line-height: 1.5;
  margin-bottom: 1em;
}
.guide-about_map p.notes {
  color: #b2122d;
}
.guide-about_text {
  width: 900px;
  font-size: 14px;
  color: #585858;
  line-height: 1.5;
  margin: 0 auto 32px;
}
.guide-about_lead {
  max-width: 900px;
  margin: 0 auto 16px;
  font-size: 16px;
  font-weight: 700;
}
.guide-about_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 900px;
  margin: 0 auto 32px;
}
.guide-about_box_image {
  display: block;
  width: 400px;
}
.guide-about_box_image img {
  border-radius: 8px;
}
.guide-about_box_text {
  width: 480px;
}
.guide-about_box p {
  font-size: 14px;
  color: #585858;
  line-height: 1.5;
  margin-bottom: 1em;
}
.guide-about_box p a {
  font-weight: 700;
  color: #2556b8;
  transition: -webkit-text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-text-decoration 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
}
.guide-about_subtitle {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 32px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.guide-about_image img {
  border-radius: 10px;
}

.jobclass_wrapper .jobclass_wrapper_icon img {
  width: 32px;
  height: 32px;
}

.info_pop {
  background: #fffceb;
  border-radius: 6px;
  margin: 10px 0;
  padding: 6px;
  font-size: 13px;
  font-weight: bold;
  color: #b36b24;
  text-align: center;
}

ul,
li {
  list-style: none;
}

.nav_floating_icon {
  display: block;
  background: url(../img/svg/dots-vertical.svg) no-repeat 0 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  margin-left: 4px;
  line-height: 1;
  transition: all 0.4s;
  z-index: 15;
}
.nav_floating_icon.fixed {
  position: fixed;
  top: 70px;
  right: 25px;
}
.nav_floating_list {
  background: #e5e3d3;
  width: auto;
  max-width: 560px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 16px 0 16px 16px;
  box-sizing: border-box;
  position: relative;
  z-index: 11;
  display: none;
  float: right;
}
.nav_floating_list.fixed {
  position: fixed;
  top: 70px;
  right: 65px;
}
.nav_floating_list ul {
  width: 240px;
  margin-bottom: 16px;
}
.nav_floating_list ul li {
  width: 48px;
  height: 48px;
  float: left;
  position: relative;
}
.nav_floating_list_wrapper {
  overflow: overlay;
  position: relative;
  height: 100%;
  max-height: 750px;
  padding-right: 16px;
}
.nav_floating_list_wrapper::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: transparent;
  border: transparent;
}
.nav_floating_list_wrapper::-webkit-scrollbar-thum {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: var(--color-set-1);
}

.js-tab-content {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.js-tab-content.active {
  visibility: visible;
  opacity: 1;
  display: block;
}

.eorzeadb_link {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.job_pld {
  background: url(../img/JobHaider/HaiderPLD.jpg) no-repeat center top #192455;
  background-attachment: fixed;
}

.job_war {
  background: url(../img/JobHaider/HaiderWAR.jpg) no-repeat center top #192455;
  background-attachment: fixed;
}

.job_drk {
  background: url(../img/JobHaider/HaiderDRK.jpg) no-repeat center top #192455;
  background-attachment: fixed;
}

.job_gnb {
  background: url(../img/JobHaider/HaiderGNB.jpg) no-repeat center top #192455;
  background-attachment: fixed;
}

.job_whm {
  background: url(../img/JobHaider/HaiderWHM.jpg) no-repeat center top #1d4214;
  background-attachment: fixed;
}

.job_sch {
  background: url(../img/JobHaider/HaiderSCH.jpg) no-repeat center top #1d4214;
  background-attachment: fixed;
}

.job_ast {
  background: url(../img/JobHaider/HaiderAST.jpg) no-repeat center top #1d4214;
  background-attachment: fixed;
}

.job_sge {
  background: url(../img/JobHaider/HaiderSGE.jpg) no-repeat center top #1d4214;
  background-attachment: fixed;
}

.job_mnk {
  background: url(../img/JobHaider/HaiderMNK.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_drg {
  background: url(../img/JobHaider/HaiderDRG.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_nin {
  background: url(../img/JobHaider/HaiderNIN.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_sam {
  background: url(../img/JobHaider/HaiderSAM.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_rpr {
  background: url(../img/JobHaider/HaiderRPR.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_vpr {
  background: url(../img/JobHaider/HaiderVPR.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_brd {
  background: url(../img/JobHaider/HaiderBRD.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_mch {
  background: url(../img/JobHaider/HaiderMCH.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_dnc {
  background: url(../img/JobHaider/HaiderDNC.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_blm {
  background: url(../img/JobHaider/HaiderBLM.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_smn {
  background: url(../img/JobHaider/HaiderSMN.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_rdm {
  background: url(../img/JobHaider/HaiderRDM.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_pct {
  background: url(../img/JobHaider/HaiderPCT.jpg) no-repeat center top #4f1717;
  background-attachment: fixed;
}

.job_blu {
  background: url(../img/JobHaider/HaiderBLU.jpg) no-repeat center top #23396a;
  background-attachment: fixed;
}

.job_crp {
  background: url(../img/JobHaider/HaiderCRP.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_bsm {
  background: url(../img/JobHaider/HaiderBSM.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_arm {
  background: url(../img/JobHaider/HaiderARM.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_gsm {
  background: url(../img/JobHaider/HaiderGSM.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_ltw {
  background: url(../img/JobHaider/HaiderLTW.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_wvr {
  background: url(../img/JobHaider/HaiderWVR.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_alc {
  background: url(../img/JobHaider/HaiderALC.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_cul {
  background: url(../img/JobHaider/HaiderCUL.jpg) no-repeat center top #27174c;
  background-attachment: fixed;
}

.job_min {
  background: url(../img/JobHaider/HaiderMIN.jpg) no-repeat center top #554317;
  background-attachment: fixed;
}

.job_btn {
  background: url(../img/JobHaider/HaiderBTN.jpg) no-repeat center top #554317;
  background-attachment: fixed;
}

.job_fsh {
  background: url(../img/JobHaider/HaiderFSH.jpg) no-repeat center top #554317;
  background-attachment: fixed;
}

table {
  border-collapse: collapse;
}

.radius,
.range {
  text-align: center;
}

.ra_melee_dps .cost,
.ra_tank .cost {
  display: none;
}

/* @media */
@media (max-height: 700px) {
  .nav_floating_list_wrapper {
    max-height: 490px;
  }
}
@media (max-width: 425px), (max-width: 430px) {
  .app_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main_header_inner {
    width: 100%;
  }
  .main_header_alignment {
    margin: 0 auto;
    width: 100%;
  }
  .link_list {
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-content: center;
  }
  .main_header .warn_info {
    width: 500px;
    position: absolute;
    bottom: 55px;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .main_header_text {
    border-radius: 0;
    bottom: 30px;
    z-index: 10;
  }
  .main_header_img {
    top: 10px;
  }
  #inner_update {
    width: 165px;
    text-align: center;
  }
  .btn_link {
    margin: 0 10px 0 0;
  }
  .btn_link img {
    left: 0;
  }
  .btn_link span {
    display: none;
  }
}
@media (min-width: 992px) {
  .warning_info {
    display: none;
  }
}
@media (max-width: 768px) {
  .warning_info {
    display: block;
  }
  .main_header_inner {
    width: 100%;
  }
  .link_list {
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-content: center;
  }
  .main_header_alignment {
    margin: 0 auto;
  }
  .btn_link {
    margin: 0 10px 0 0;
  }
  .btn_link img {
    left: 0;
  }
  .btn_link span {
    display: none;
  }
}
.bluemage_content {
  padding: 16px 5px 5px !important;
}
.bluemage_content .job_title,
.bluemage_content .job_notes_lv80,
.bluemage_content .job_update {
  margin-left: 5px;
  margin-right: 5px;
}
.bluemage_content .job_content_wrapper .job_table {
  width: 950px;
}
.bluemage-content {
  padding-bottom: 32px;
}
.bluemage-text {
  font-size: 14px;
  color: #585858;
  margin: 0 10px;
  padding-bottom: 32px;
}
.bluemage-quest {
  display: flex;
  -ms-box-align: center;
  box-align: center;
  align-items: center;
  margin: 0 10px;
  padding-bottom: 32px;
}
.bluemage-quest_title {
  background: rgba(128, 102, 51, 0.1);
  height: 28px;
  margin: 0 10px;
  padding-left: 44px;
  border-radius: 14px;
  position: relative;
}
.bluemage-quest_title::before {
  content: "";
  background: url(../img/main/quest.png);
  background-size: 40px 40px;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.bluemage-quest_title a {
  position: relative;
  top: 3px;
  color: #2556b8;
  font-size: 16px;
  font-weight: 700;
}
.bluemage-quest_map {
  width: 360px;
  margin-right: 16px;
}
.bluemage-quest_detail {
  width: 544px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 8px;
  padding: 8px 16px 0 8px;
  box-sizing: border-box;
}
.bluemage-quest li {
  font-size: 14px;
  color: #585858;
  padding: 0 0 8px 24px;
}
.bluemage-quest li.level {
  background: url(../img/main/lvl.png) no-repeat 0 0;
  background-size: 20px 20px;
}
.bluemage-quest li.pos {
  background: url(../img/main/loc.png) no-repeat 0 0;
  background-size: 20px 20px;
}
.bluemage-quest li.npc {
  background: url(../img/main/npc.png) no-repeat 0 0;
  background-size: 20px 20px;
}
.bluemage-quest li.condition {
  background: url(../img/main/complite.png) no-repeat 0 0;
  background-size: 20px 20px;
}
.bluemage-quest li a {
  color: #2556b8;
  font-weight: 700;
}
.bluemage-list {
  margin: 0 10px;
}
.bluemage-list li {
  background: url(../img/main/bluli.png) no-repeat 0 2px;
  background-size: 16px 16px;
  padding-bottom: 32px;
  padding-left: 20px;
  font-size: 14px;
}
.bluemage-list li li {
  background: url(../img/main/bluli2.png) no-repeat 0 2px;
  background-size: 16px 16px;
  padding-bottom: 0;
  padding-left: 20px;
  margin-top: 16px;
}
.bluemage-notes {
  font-size: inherit;
  color: #b2122d;
}
.bluemage-image {
  display: block;
  margin: 0 auto 16px;
  border-radius: 8px;
}
.bluemage-image_mb {
  display: block;
  margin: 0 auto 32px;
  border-radius: 8px;
}
.bluemage-indent {
  padding: 0 16px;
}
.bluemage-sub_title {
  font-size: 14px;
  margin: 0 10px;
}

/*==> Job Color */
.job_tank .jobguide_menu_list > li > span,
.job_tank .job_nav_title a,
.job_tank .job_sub_title,
.job_tank .job_hud_title {
  color: var(--tank-color);
}
.job_tank .jobguide_sub_menu li a {
  color: var(--tank-AltColor);
}
.job_tank .job_title {
  background: var(--tank-color);
}
.job_tank .job_thead p,
.job_tank .job_combo_title_sequence,
.job_tank .job_combo_title_effect {
  background: var(--tank-AltColor);
}
.job_tank .nav_floating_icon,
.job_tank ~ .nome_app_top .app_top {
  background-color: var(--tank-color);
  box-shadow: 1px 1px 5px var(--tank-color);
}
.job_tank .nav_floating_icon:hover,
.job_tank ~ .nome_app_top .app_top:hover {
  background-color: var(--tank-AltColor);
}
.job_tank .job_header_role {
  background: var(--tank-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5019607843);
}
.job_tank .job_header_role img {
  display: inline-block;
  margin-right: 4px;
  width: 32px;
  height: 32px;
}

.job_healer .jobguide_menu_list > li > span,
.job_healer .job_nav_title a,
.job_healer .job_sub_title,
.job_healer .job_hud_title {
  color: var(--healer-color);
}
.job_healer .jobguide_sub_menu li a {
  color: var(--healer-AltColor);
}
.job_healer .job_title {
  background: var(--healer-color);
}
.job_healer .job_thead p,
.job_healer .job_combo_title_sequence,
.job_healer .job_combo_title_effect {
  background: var(--healer-AltColor);
}
.job_healer .nav_floating_icon,
.job_healer ~ .nome_app_top .app_top {
  background-color: var(--healer-color);
  box-shadow: 1px 1px 5px var(--healer-color);
}
.job_healer .nav_floating_icon:hover,
.job_healer ~ .nome_app_top .app_top:hover {
  background-color: var(--healer-AltColor);
}
.job_healer .job_header_role {
  background: var(--healer-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5019607843);
}
.job_healer .job_header_role img {
  display: inline-block;
  margin-right: 4px;
  width: 32px;
  height: 32px;
}

.job_dps .jobguide_menu_list > li > span,
.job_dps .job_nav_title a,
.job_dps .job_sub_title,
.job_dps .job_hud_title {
  color: var(--dps-color);
}
.job_dps .jobguide_sub_menu li a {
  color: var(--dps-AltColor);
}
.job_dps .job_title {
  background: var(--dps-color);
}
.job_dps .job_thead p,
.job_dps .job_combo_title_sequence,
.job_dps .job_combo_title_effect {
  background: var(--dps-AltColor);
}
.job_dps .nav_floating_icon,
.job_dps ~ .nome_app_top .app_top {
  background-color: var(--dps-color);
  box-shadow: 1px 1px 5px var(--dps-color);
}
.job_dps .nav_floating_icon:hover,
.job_dps ~ .nome_app_top .app_top:hover {
  background-color: var(--dps-AltColor);
}
.job_dps .job_header_role {
  background: var(--dps-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5019607843);
}
.job_dps .job_header_role img {
  display: inline-block;
  margin-right: 4px;
  width: 32px;
  height: 32px;
}

.job_craft .guide-title,
.job_craft .guide-about_title:after {
  background: var(--craft-color);
}
.job_craft .guide-thead p {
  background: var(--craft-AltColor);
}
.job_craft .guide-sub_title,
.job_craft .guide-about_title,
.job_craft .guide-about_lead,
.job_craft .jobguide_menu_list > li > span,
.job_craft .jobguide_sub_menu li a {
  color: var(--craft-color);
}
.job_craft .nav_floating_icon:hover {
  background-color: var(--craft-AltColor);
}
.job_craft ~ .nome_app_top .app_top {
  background: var(--craft-color);
  box-shadow: 1px 1px 5px var(--craft-color);
}
.job_craft ~ .nome_app_top .app_top:hover {
  background-color: var(--craft-AltColor);
}
.job_craft .guide-about_subtitle {
  background: linear-gradient(to right, var(--craft-color) 0%, rgba(78, 50, 143, 0) 100%);
}

.job_gathering .guide-title,
.job_gathering .guide-about_title:after {
  background: var(--gathering-color);
}
.job_gathering .guide-thead p {
  background: var(--gathering-AltColor);
}
.job_gathering .guide-sub_title,
.job_gathering .guide-about_title,
.job_gathering .guide-about_lead,
.job_gathering .jobguide_menu_list > li > span,
.job_gathering .jobguide_sub_menu li a {
  color: var(--gathering-color);
}
.job_gathering .nav_floating_icon:hover {
  background-color: var(--gathering-AltColor);
}
.job_gathering ~ .nome_app_top .app_top {
  background: var(--gathering-color);
  box-shadow: 1px 1px 5px var(--gathering-color);
}
.job_gathering ~ .nome_app_top .app_top:hover {
  background-color: var(--gathering-AltColor);
}
.job_gathering .guide-about_subtitle {
  background: linear-gradient(to right, #8f7832 0%, rgba(143, 120, 50, 0) 100%);
}

/* Combo List */
.job_combo_text {
  color: #585858;
  margin: 0 10px 32px;
  font-size: 14px;
}
.job_combo_title {
  margin: 0 10px;
}
.job_combo_title h3 {
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
}
.job_combo_title_sequence {
  width: 640px;
  margin-right: 4px;
  float: left;
}
.job_combo_title_effect {
  width: 276px;
  float: left;
}
.job_combo_detail {
  margin: 0 10px;
}
.job_combo_root {
  display: table;
  box-sizing: border-box;
  min-height: 124px;
}
.job_combo_root_skill, .job_combo_root_skill_first, .job_combo_root_skill_last {
  display: table-cell;
  width: 200px;
  padding: 16px 20px 16px 0;
  text-align: center;
}
.job_combo_root_skill p, .job_combo_root_skill_first p, .job_combo_root_skill_last p {
  font-size: 12px;
  font-weight: 700;
  color: #585858;
  width: 200px;
}
.job_combo_root_skill_last {
  padding-right: 0;
}
.job_combo_root_effect {
  width: 280px;
  display: table-cell;
  vertical-align: middle;
}
.job_combo_root_effect p {
  display: block;
  padding: 16px 12px;
  font-size: 12px;
  color: #585858;
}
.job_combo_skill_icon {
  position: relative;
  width: 76px;
  height: 76px;
  display: inline-block;
  background: url(../img/main/skil_icon.png) no-repeat 6px 3px;
  background-size: 64px 64px;
  vertical-align: middle;
  margin: 0 auto;
}
.job_combo_skill_icon img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 3px !important;
  left: 50% !important;
  margin-left: -32px;
  display: block;
  z-index: 1;
}
.job_combo_skill_icon:after {
  content: "";
  background: url(../img/main/skil_icon_on2x.png) no-repeat;
  background-size: 76px 76px;
  width: 76px;
  height: 76px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.job_combo_darkknight_02, .job_combo_gunbreaker_02, .job_combo_ninja_04, .job_combo_reaper_02, .job_combo_warrior_03 {
  background: url(../img/main/combo.png) no-repeat 150px 0;
  border-bottom: 1px solid #999;
}
.job_combo_darkknight_01, .job_combo_gunbreaker_01, .job_combo_reaper_01 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
}
.job_combo_root_dancer, .job_combo_root_gunbreaker, .job_combo_viper {
  border-bottom: 1px solid #999;
}
.job_combo_dragoon_04 .job_combo_root_skill, .job_combo_dragoon_04 .job_combo_root_skill_last {
  width: 120px;
}
.job_combo_dragoon_04_start .job_combo_root_skill {
  position: relative;
  padding-right: 24px;
}

.job_hud_title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px 16px;
}
.job_hud_text {
  margin: 0 10px 16px 10px;
  font-size: 14px;
  color: #585858;
}
.job_hud_text .txt_red {
  font-size: 14px;
  font-weight: 400;
  color: #b2122d !important;
}
.job_hud_layout--pve, .job_hud_layout--pvp {
  text-align: center;
  margin: 0 auto 32px;
}
.job_hud_layout--pve th, .job_hud_layout--pvp th {
  padding: 0 20px;
  font-weight: 400;
}
.job_hud_layout--pve td, .job_hud_layout--pvp td {
  padding: 6px 20px 16px;
  font-size: 14px;
  color: #585858;
  vertical-align: top;
}
.job_hud_layout--pve_simple, .job_hud_layout--pvp_simple {
  padding-top: 32px;
  border-top: 1px solid #999;
}
.job_hud_layout--pve_simple_caption, .job_hud_layout--pvp_simple_caption {
  font-size: 12px;
  color: #585858;
  text-align: center;
  padding-top: 0;
}
.job_hud_layout--pve_simple_title, .job_hud_layout--pvp_simple_title {
  font-size: 14px;
  color: #585858;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
}
.job_hud_layout--pve_simple_text, .job_hud_layout--pvp_simple_text {
  margin-bottom: 16px;
  font-size: 14px;
  color: #585858;
  text-align: left;
}
.job_hud_layout--pve_simple img, .job_hud_layout--pvp_simple img {
  display: block;
  margin: 0 0 8px 0;
}
.job_hud_layout--pve.column03 th, .job_hud_layout--pvp.column03 th {
  padding: 0 10px;
}
.job_hud_layout--pve.column03 td, .job_hud_layout--pvp.column03 td {
  padding: 6px 10px 16px;
}
.job_hud_layout--mb16, .job_hud_layout--mb32 {
  display: flex;
  align-items: center;
  height: 1%;
}
.job_hud_layout--mb16 {
  margin: 0 0 16px 10px;
}
.job_hud_layout--mb32 {
  margin: 0 0 32px 10px;
}
.job_hud_image {
  float: left;
  margin-right: 20px;
  display: block;
}

.job_combo_paladin_01 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
}
.job_combo_paladin_02 {
  background: url(../img/main/combo.png) no-repeat 150px 0;
  border-bottom: 1px solid #999;
}
.job_combo_paladin_03 {
  background: url(../img/main/combo2.png) no-repeat 150px 0, url(../img/main/combo2.png) no-repeat 295px 0, url(../img/main/combo2.png) no-repeat 442px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #999;
}
.job_combo_paladin_03 .job_combo_root_skill_first {
  width: 120px;
  padding-left: 40px;
  padding-right: 26px;
}
.job_combo_paladin_03 .job_combo_root_skill_first p {
  width: 120px;
}
.job_combo_paladin_03 .job_combo_root_skill {
  width: 120px;
  padding-right: 26px;
}
.job_combo_paladin_03 .job_combo_root_skill p {
  width: 120px;
  text-align: center;
}
.job_combo_paladin_03 .job_combo_root_skill_last {
  width: 120px;
  padding-right: 40px;
}
.job_combo_paladin_03 .job_combo_root_skill_last p {
  width: 120px;
  text-align: center;
}

.job_combo_warrior_01 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo3.png) no-repeat 370px 0;
}
.job_combo_warrior_02 {
  background: url(../img/main/combo4.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
}

.job_combo_gunbreaker {
  display: table-cell;
  width: 600px;
}
.job_combo_gunbreaker_03 {
  background: url(../img/main/combo5.png) no-repeat 150px 0, url(../img/main/combo5.png) no-repeat 370px 0;
}
.job_combo_gunbreaker_04 {
  background: url(../img/main/combo6.png) no-repeat 40px 0, url(../img/main/combo7.png) repeat-y 150px 0, url(../img/main/combo6.png) no-repeat 260px 0, url(../img/main/combo7.png) repeat-y 370px 0, url(../img/main/combo6.png) no-repeat 480px 0;
}
.job_combo_gunbreaker_05 {
  background: url(../img/main/combo8.png) no-repeat 150px 0, url(../img/main/combo8.png) no-repeat 370px 0;
}

.job_monkcombo {
  display: table;
  margin: 0 10px 8px;
}
.job_monkcombo_action {
  display: table-cell;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #8c4d4d;
  background: #f2f2f2;
  width: 280px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2px;
}
.job_monkcombo_action_title {
  background: #8c4d4d;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 0;
  line-height: 1;
}
.job_monkcombo_action_skill, .job_monkcombo_action_skill_last {
  padding: 8px 8px 0 8px;
  display: flex;
  -ms-box-align: center;
  box-align: center;
  align-items: center;
  width: 276px;
  box-sizing: border-box;
}
.job_monkcombo_action_skill_icon, .job_monkcombo_action_skill_last_icon {
  vertical-align: middle;
  padding-right: 4px;
}
.job_monkcombo_action_skill_last, .job_monkcombo_action_skill_last_last {
  padding-bottom: 16px;
}
.job_monkcombo_action_skill_name, .job_monkcombo_action_skill_last_name {
  vertical-align: middle;
  font-size: 12px;
  font-weight: 700;
}
.job_monkcombo_action_effect_title {
  background: #ebdfdf;
  padding: 6px;
  font-size: 12px;
  font-weight: 700;
  color: #732828;
  display: block;
  text-align: left;
}
.job_monkcombo_action_effect_text {
  padding: 8px 6px 16px;
  text-align: left;
}
.job_monkcombo_arrow {
  display: table-cell;
  vertical-align: middle;
}

.job_combo_dragoon_03 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
  margin-bottom: 8px;
}
.job_combo_dragoon_04 {
  display: grid;
  grid-template: "start combo01 end combo01_effect" "start . end combo01_effect" 62px "start . end combo02_effect" 62px "start combo02 end combo02_effect";
  min-height: 372px;
  border-bottom: 1px solid #999;
}
.job_combo_dragoon_04_start {
  grid-area: start;
  display: grid;
  place-items: center;
}
.job_combo_dragoon_04 .job_combo_root_skill p,
.job_combo_dragoon_04 .job_combo_root_skill_last p {
  width: 120px;
}
.job_combo_dragoon_04_start .job_combo_root_skill::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -4px;
  width: 48px;
  height: 100%;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/Y/x9lITB6Lzdc2iBZ10UydmE01rA.png) no-repeat 0 0;
}
.job_combo_dragoon_04_01::after, .job_combo_dragoon_04_01::before, .job_combo_dragoon_04_02::after, .job_combo_dragoon_04_02::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 48px;
  height: 100%;
}
.job_combo_dragoon_04_01 {
  grid-area: combo01;
  position: relative;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 96px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 216px 0;
}
.job_combo_dragoon_04_01::before {
  left: -24px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/J/BRXsOnl-gJIxXi85_PWPB7uQMg.png) no-repeat 0 0;
}
.job_combo_dragoon_04_01::after {
  right: -24px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/i/xGCf8qG2Ku_qL2g8VbYwBXouNY.png) no-repeat 0 0;
}
.job_combo_dragoon_04_01 .job_combo_root_skill {
  padding-right: 0;
}
.job_combo_dragoon_04_01_effect {
  grid-area: combo01_effect;
  display: flex;
  align-items: center;
}
.job_combo_dragoon_04_02 {
  grid-area: combo02;
  position: relative;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 96px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/m/Ei1k3bgW12qROXtBEugOEs4u1g.png) no-repeat 216px 0;
}
.job_combo_dragoon_04_02::before {
  left: -24px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/A/FZtlOE_IqaRciJpsbOeO3YbJSA.png) no-repeat 0 0;
}
.job_combo_dragoon_04_02::after {
  right: -24px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/K/0ZO58SIVqabfX2BXUt49SQeD80.png) no-repeat 0 0;
}
.job_combo_dragoon_04_02 .job_combo_root_skill {
  padding-right: 0;
}
.job_combo_dragoon_04_02_effect {
  grid-area: combo02_effect;
  display: flex;
  align-items: center;
}
.job_combo_dragoon_04_end {
  grid-area: end;
  display: grid;
  place-items: center;
}
.job_combo_dragoon_04_end .job_combo_root_skill_last {
  position: relative;
  padding-left: 24px;
}
.job_combo_dragoon_04_end .job_combo_root_skill_last::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -4px;
  width: 48px;
  height: 100%;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/L/sJyips9fze37klbPBnrs2I6Z9I.png) no-repeat 0 0;
}

.job_combo_ninja_01 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo3.png) no-repeat 370px 0;
}
.job_combo_ninja_02 {
  background: url(../img/main/combo4.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
}

.job_combo_samurai_01 {
  background: url(../img/main/combo3.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
}
.job_combo_samurai_02 {
  background: url(../img/main/combo10.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
}
.job_combo_samurai_03 {
  background: url(../img/main/combo4.png) no-repeat 150px 0;
  border-bottom: 1px solid #999;
}
.job_combo_samurai_04 {
  background: url(../img/main/combo3.png) no-repeat 150px 0;
}
.job_combo_samurai_05 {
  background: url(../img/main/combo4.png) no-repeat 150px 0;
  border-bottom: 1px solid #999;
  margin-bottom: 8px;
}

.job_combo_viper_inner_01 {
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 150px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0;
}
.job_combo_viper_inner_02 {
  padding-top: 124px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/s/aoZRBLUMOwVTevo9_UMU5wwxzA.png) no-repeat 150px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/K/P4fbPR-FLa_4E80IYy6rRAI3bM.png) no-repeat 370px 0;
}
.job_combo_viper_inner_04 {
  padding-top: 124px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/K/P4fbPR-FLa_4E80IYy6rRAI3bM.png) no-repeat 370px 0;
}
.job_combo_viper_inner_05 {
  padding-top: 124px;
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 150px 124px, url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 124px, url(https://lds-img.finalfantasyxiv.com/promo/h/L/ZGo9Hr9sUqV1kmKPTjGlS4-ACI.png) no-repeat 150px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/L/ZGo9Hr9sUqV1kmKPTjGlS4-ACI.png) no-repeat 370px 0;
}
.job_combo_viper_inner_06 {
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/4/CPlw_vyjntBjdc44iMVcY5qwMQ.png) no-repeat 150px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0;
}
.job_combo_viper_inner_07 {
  background: url(https://lds-img.finalfantasyxiv.com/promo/h/W/DsM5O0psoLoBIZTvp5M6b7HXlU.png) no-repeat 150px 0, url(https://lds-img.finalfantasyxiv.com/promo/h/x/_IVh6kXeW2Nnc3vzoVw2hKv0d0.png) no-repeat 370px 0;
}

.job_combo_machinist_01 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
  margin-bottom: 8px;
}

.job_combo_dancer_01_inner {
  width: 640px;
  padding-left: 55px;
  padding-right: 165px;
  box-sizing: border-box;
  background: url(../img/main/combo.png) no-repeat 205px 0;
}
.job_combo_dancer_02 {
  position: relative;
}
.job_combo_dancer_02_inner {
  width: 640px;
  height: 124px;
  padding-left: 165px;
  padding-right: 55px;
  box-sizing: border-box;
  background: url(../img/main/combo9.png) no-repeat 95px 0, url(../img/main/combo9.png) no-repeat 315px 0;
}
.job_combo_dancer_02_percent {
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
}
.job_combo_dancer_02_percent .job_combo_root_skill {
  bottom: 40px;
  position: relative;
  width: 120px;
  padding: 0 95px 0 5px;
  text-align: left;
  box-sizing: border-box;
}
.job_combo_dancer_02_percent p {
  width: 120px;
}
.job_combo_dancer_02_percent p span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #5c95e5;
}

.job_combo_redmage_01 {
  background: url(../img/main/combo.png) no-repeat 150px 0, url(../img/main/combo.png) no-repeat 370px 0;
  border-bottom: 1px solid #999;
}

/* Warning info */
.error_info {
  display: block;
  position: relative;
  background-color: #ecede7;
  padding: 16px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  border: 1px solid var(--color-error);
  box-shadow: 0px 0px 5px 0px var(--color-error);
}
.error_info h5 {
  margin-bottom: 16px;
  color: var(--color-error);
  font-size: 14px;
  font-weight: bold;
}
.error_info p {
  color: var(--color-error);
  font-weight: bold;
  font-size: 13px;
}

.hidden {
  display: none !important;
}

#closeInfo {
  display: block;
  position: absolute;
  color: var(--color-error);
  right: 10px;
  top: 5px;
  cursor: pointer;
}